html, body{
    height: 100vh;
}

button{
    height: 10vh;
    width: 25vw;
}

h1{
    margin: auto;
    -ms-animation: colorchange 5s infinite alternate;
    -moz-animation: colorchange 5s infinite alternate;
    -o-animation: colorchange 5s infinite alternate; 
    animation: colorchange 5s infinite alternate; 
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@-ms-keyframes colorchange{
    0% {
          color: #ffffff;
        }
        
        20% {
          color: #cccccc;
        }
        
        40% {
          color: #999999;
        }
        
        60% {
          color: #666666;
        }
        
        80% {
          color: #333333;
        }
        
        100% {
          color: #000000;
        } 
  }
  
  @-moz-keyframes colorchange{
      0% {
          color: #ffffff;
        }
        
        20% {
          color: #cccccc;
        }
        
        40% {
          color: #999999;
        }
        
        60% {
          color: #666666;
        }
        
        80% {
          color: #333333;
        }
        
        100% {
          color: #000000;
        } 
  }
  
  @-o-keyframes colorchange{
      0% {
          color: #ffffff;
        }
        
        20% {
          color: #cccccc;
        }
        
        40% {
          color: #999999;
        }
        
        60% {
          color: #666666;
        }
        
        80% {
          color: #333333;
        }
        
        100% {
          color: #000000;
        }  
  }
  
  @keyframes colorchange {
      0% {
          color: #ffffff;
        }
        
        20% {
          color: #cccccc;
        }
        
        40% {
          color: #999999;
        }
        
        60% {
          color: #666666;
        }
        
        80% {
          color: #333333;
        }
        
        100% {
          color: #ffffff;
        }  
  }